/* import our fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


html {
scroll-behavior: smooth;
}

body {
    font-family: "Roboto" sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Roboto", serif;
}

.text-center{
    text-align: center;
}

/*navigation*/
.outer-navigation {
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.2)),url(images/imagecar.jpg);*/
    background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4,9,30,0.7)),url(images/imagecar.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
    padding-top: 20px; 
}
.nav-content {
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
    height: 100vh;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation a:hover{
    color: red;
}

/* beginning of login nav */
.right-navigation {
    flex: 0.5;
    text-align: right;
    padding-right: 30px;
}


.right-navigation .login-link{
    background: white;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    color: gray;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
/* end of login nav */

/* beginning of other navs */
.left-navigation {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex: 0.5;
}

.left-navigation a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

/*hero styles */
.main-title-container {
   font-size: 2.0rem; 
   color: white;
   max-width: 500px;
   float: right;
   position:absolute;
   top: 30%;
   right: 40px;
   margin-left: 20px;
}

@keyframes MoveUpDown {
    0%,
    100% {
        bottom: 50px;
    }
    50% {
        bottom: 70px;
    }
    
}
.arrow-down-navigation {
    animation: MoveUpDown 2.5s ease-in-out infinite;
    color: white;
    font-size: 2rem;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    cursor: pointer;

}

.arrow-down-navigation:hover{
    color: lightblue;

}
